body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: white;
  border-right: 1px solid #ddd;
  padding: 20px;
  position: fixed;
}

.sidebar ul {
  padding-left: 0;
}

.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 0;
  font-weight: 500;
  transition: 0.3s;
}

.sidebar a.active {
  color: #c2574f;
  border-left: 3px solid #c2574f;
  padding-left: 10px;
}

.sidebar .logout {
  position: absolute;
  bottom: 20px;
  color: #40b8c4;
  text-decoration: none;
  font-weight: 600;
}

.content {
  margin-left: 240px;
  padding: 30px;
}

.table img {
  width: 55px;
  border-radius: 8px;
}

.btn-info {
  background-color: #40b8c4 !important;
  border: none;
}

.btn-info:hover {
  background-color: #349ca7 !important;
}

.modal-content {
  border-radius: 15px;
  border: none;
}

.modal-content .btn {
  min-width: 90px;
  font-weight: 600;
}

#confirmDeleteModal .btn-danger {
  background-color: #c2574f;
  border: none;
}

#confirmDeleteModal .btn-danger:hover {
  background-color: #a8453e;
}
